@model IACBI.Entities.LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/jqueryval")
    <link href="~/Content/login.css" rel="stylesheet" />
    <link href="~/Content/styles.css" rel="stylesheet" />
    <title>Reset Password</title>

</head>


<body class="login-form">
    <div class="wrapper">
        <div class="forgot_content">
            @using (Html.BeginForm("ForgotPassword", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login", role = "form" }))
            {

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                if(ViewBag.IsSuccess != null)
                {
                    <div class="width-full">
                        <p class="title">Sign In</p>
                        <label class="control-label mt-20" style="color:@(ViewBag.IsSuccess ? "green" : "red");">
                            @Html.Raw(ViewBag.Message)
                        </label>
                    </div>

                }
                <div class="width-full">
                    <p class="title">Reset Your Password</p>
                </div>
                <div class="width-full">
                    @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email", type = "email", @autofocus = "", @maxlength = "100" })
                    <i class="icon-envelope icon-login"></i>
                    @Html.ValidationMessageFor(m => m.Email)
                </div>

                <div class="width-full">
                    <div class="forgot-row">
                        <input type="submit" id="" value="Submit" class="btn btn-success btn_forgot" />
                        @Html.ActionLink("Go to Login", "Index", "Login", null, new { @class = "btn btn-default", title = "Cancel" })
                    </div>
                </div>

            }
        </div>
    </div>

</body>
</html>



<script type="text/javascript">

    if ('@ViewBag.MessageForSuccess' == "suceesstrue") {
        $(".validation-summary-errors ul li").css("color", "#249378");
    }

</script>